<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js"
            integrity="sha512-tL2F77BkS6GmjDMOvj6aBGHFsNRC3s4c36Iisdb3sI1q4PN/NgzmIfvI7lyccBIyrFGnhgz6pjAFKADNBeTUzw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
            integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/chat-style.css">
    <link rel="stylesheet" href="/header-style.css">
    <link rel="stylesheet" href="/color-style.css">
</head>
<body onload="connect(<%= userId %>)">
<header>
    <nav class="header_nav">
        <div class="toggle">
            <img class="logo" src="/logo.svg" alt="">
        </div>
        <ul class="menu">
            <li><a href="">ads</a></li>
            <li><a href="">profile</a></li>
            <li><a href="">home</a></li>
            <li class="big_logo"><img src="/logo.svg" alt=""></li>
        </ul>
    </nav>

</header>
<div class="wrapper">
    <section class="msger">
        <header class="msger-header">
            <div class="msger-icon-profile"
                 style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTabrl2VTWfpp7MbwZp6gVKWPv5C_3Xkx-VlQ&usqp=CAU')"></div>
            <div class="msger-name-profile" id="ms_name"></div>
        </header>
        <main class="msger-chat" id="messages">

        </main>
        <div class="msger-inputarea">
            <input class="msger-input" id="message" placeholder="Enter your message...">
            <button id="sendBtn" type="submit" class="msger-send-btn" onclick="send()"><img src="/btn_send.svg" alt="">
            </button>
        </div>
    </section>
</div>
<script type="text/javascript" src="/chat-script.js"></script>
<script type="text/javascript" src="/header-navbar.js"></script>
</body>
</html>
